<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
  </div>
  <div class="container">
    <div class=row>
      <div class="col-lg-12">
        <h2>Latest Mars News</h2>
        <h4>{{ mars.news_title }}</h4>
        <h6>{{ mars.news_paragraph }}</h6>
      </div>
    </div>
   </div>
   <div class="container">
    <div class=row>
      <div class="col-lg-8">
        <h2>Featured Mars Image</h2>
        <img src="{{ mars.featured_image }}"/>
      </div>
      <div class="col-lg-4">
        <h2>Mars Facts</h2>
        {{ mars.facts_table | safe }}
      </div>
    </div>
  </div>
  <div class="container">
    <div class=row>
      <div class="col-lg-12">
        <header class="header">
            <h2 class="box_header">Mars Hemispheres</h2>
        </header>
      </div>
  </div>
  {% for hemisphere in mars.hemispheres %}       
    <div class="col-lg-3">
      <img src="{{ hemisphere.img_url }}" alt="Hemisphere" class="img-thumbnail">
      <header class="caption">
        <h4>{{ hemisphere.title }}</h4>
      </header>
    </div>
  {% endfor %}
</div>    

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
</body>

</html>
